In [1]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.
Ans.1.df.head()
    2.df.tail()
    3.df.iloc()
    4.df.loc()
    5.pd.read_csv()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

df = pd.DataFrame([A,B,C],index=[1,3,5])

Q3.You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [2]:
df = pd.DataFrame({'Values':[10,20,30,40,50]})
df['Values'][0:3].sum()

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [3]:
text = ['my name is Morish','I am learning data science','I am a computer engineer']
df1 = pd.DataFrame(text)
df1.columns = ['Text']
df1['Word_count'] = df1['Text'].apply(lambda x : len(x.split()))
df1

                         Text  Word_count
0           my name is Morish           4
1  I am learning data science           5
2    I am a computer engineer           5

Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans.DataFrame.size() gives us the multiplication of rows and columns as a single value and DataFrame.shape() gives us two  values of rows and columns seperated by a comma respectively.

Q6. Which function of pandas do we use to read an excel file?
Ans. pd.read_excel('file_name') is used to read an excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [4]:
Email = ['morish@gmail.com','dhairya@gmail.com','jigar@somaiya.edu']
df = pd.DataFrame(Email)
df.columns = ['Email']
df['Username'] = df['Email'].apply(lambda x:x.split('@')[0])
df

               Email Username
0   morish@gmail.com   morish
1  dhairya@gmail.com  dhairya
2  jigar@somaiya.edu    jigar

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [5]:
df4 = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})

In [6]:
new_df = df4.loc[(df4['A']>5) & (df4['B']<10)]
new_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [7]:
Values = pd.Series([2,3,4,15,16,13,22,11,4,1,8,9])
df5 = pd.DataFrame(Values)
df5.columns = ['Values']

In [8]:
df5['Values'].mean()

9.0

In [9]:
df5['Values'].median()

8.5

In [10]:
df5['Values'].std()

6.564366617649345

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

df['MovingAverage'] = reliance['Sales'].rolling(7).mean()

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [11]:
Date = pd.Series(['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'])

In [12]:
df6 = pd.DataFrame(Date)

In [14]:
df6.columns = ['Date']

In [15]:
df6

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [19]:
df6['Date'] = pd.to_datetime(df6['Date'])

In [24]:
df6['Weekday'] = df6['Date'].dt.day_name()

In [25]:
df6

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
Ans. df.loc[2023-01-01:2023-01-31]

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
Ans. To use basic functions in pandas we need to import pandas library.